/*
* CSS default
*
* BLOCKS - ELEMENTS - MODIFIERS
*
*/

* {
  font-family: $defaultFont;
  font-size: $fontSizePrimary;
  color: $defaultTextColor;
  box-sizing: border-box;
  text-decoration: none;
}

/*
* MEDIA QUERY FOR CELPHONE < 1180px
*/

@media (max-width: 1180px) {
  .warningResolution {
    display: block !important;
    padding: 40px;
    //background: rgba(41, 128, 109, 0.6);
    background: $featuredColorHighlighted;
    h1 {
      font-size: 40px;
      width: 100%;
      font-family: "Avenir Bold";
      font-weight: bold;
      letter-spacing: -2px;
      margin: 15px 0;
    }
  }
}

/*
* Terms and Condictions - <PRE> Element
*/
.preFormatDefault {
  color: $inverseTextColor;
  white-space: pre-wrap;
  text-align: left;
  line-height: 2;
}

/*
* PopOver Menu
*/
.WrapperPopOver {
  .el-button--default {
    width: 100% !important;
  }
}

/*
* Upload Vídeo / Avatar / Cover / Thumb
*/
.el-upload-dragger {
  background-color: transparent;
}

.el-form-item__label {
  font-size: 12px;
  font-weight: bold;
  float: left !important;
  padding: 0;
  line-height: 20px;
}

.step3 .el-input__inner {
  width: 400px !important;
}

.step3 .ageRange label {
  line-height: 0px !important;
}

/*
* Component: extending STEPS
*/
.wrapperFirstSection,
.dialogUpload {
  .el-step__icon {
    background: $mainBackgroundColorSecondary !important;
  }

  .is-finish {
    .el-step__line {
      background-color: $featuredColor;
    }
  }

  .is-finish,
  .is-process {
    color: $featuredColor;
    border-color: $featuredColor;

    .el-step__line-inner {
      border-color: $featuredColor;
    }

    .el-step__icon-inner {
      color: $featuredColor;
    }
  }

  .el-step__title {
    line-height: 15px;
  }

  .is-horizontal {
    .el-step__title {
      margin: 10px;
    }
  }
}

/*
* Avatar
*/

.avatar-uploader .el-upload-dragger {
  border-radius: 50%;
  width: 130px;
  height: 130px;
}

.thumbnails-video-uploader .el-upload-dragger {
  //border-radius: 50%;
  width: 360px;
  height: 180px;
}

/*
* Cover Image
*/

.coverImage-uploader .el-upload-dragger {
  width: 700px;
  height: 295px;
}

/*
* Component: <el-dialog>
*/

.dialogMessageDefault--text {
  .el-dialog {
    height: 80%;
    overflow: auto;
  }
}

/*
* Default Message
*/
.dialogMessageDefault {
  .el-dialog {
    padding: 50px !important;
  }

  .el-dialog__header {
    padding: 0 0px 15px 0 !important;

    .el-dialog__title {
      color: $featuredColor;
      font-size: 40px;
      //text-align: left;
      width: 100%;
      font-family: "Avenir Bold";
      font-weight: bold;
      letter-spacing: -2px;
      display: block;
    }
  }

  .el-dialog__body {
    span {
      display: block;
      //text-align: left;
      color: $detailColorHeavy;
    }
  }
}

/*
* Component: SWIPER <el-pagination>
*/
.swiper-pagination-bullet {
  background: $featuredColorHighlighted;
}

.swiper-button-disabled {
  opacity: 0.1 !important;
  color: $featuredColorSecondary !important;
  cursor: default;
}

/*
* Component: BUTTON DEFAULT <el-button>
*/

.ButtonDefault {
  opacity: 0.9;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 10px 10px;
  background: none;
  transition: background 0.3s;
  text-align: center;

  &:active,
  &:focus,
  &:visited {
    background-color: none !important;
  }

  &:hover {
    border-color: $featuredColor;
    color: $featuredColor;
    font-weight: bold;

    span {
      color: #fff;

      span {
        color: #fff;
      }
    }
  }

  span {
    display: flex;
    align-items: flex-end;
  }

  span span {
    color: $featuredColor;
    font-size: $fontSizeSecondary;
    margin: 0 8px;
    display: flex;
    align-items: flex-end;
  }

  &:active {
    background-color: $featuredColor;
  }

  &--filled {
    background-color: $featuredColorHighlighted;

    span {
      color: #fff !important;
    }
  }

  &--secondary {
    background: $mainBackgroundColor !important;
  }  
}

.ButtonDefault.is-disabled {
  opacity: 0.15 !important;
}

/*
* Text Area - Form Modifier
*/
.inputDescribe .el-textarea__inner {
  height: 100% !important;
  min-height: 200px !important;
  width: 100% !important;
}

.wrapperSections .el-card__body {
  align-items: center;
  display: flex !important;
  justify-content: space-between;
  flex-wrap: wrap;
}

.coverImage-uploader .el-progress-circle,
.avatar-uploader .el-progress-circle {
  margin: 0 auto;
}

.el-icon-loading {

  &--page {
    font-size: 20px;
    margin: 20px;
  }
}

