/*
* CSS default  
*
* BLOCKS - ELEMENTS - MODIFIERS
* 
*/

* {
  font-family: $defaultFont;
  font-size: $fontSizePrimary;	
  color: $defaultTextColor;
  box-sizing: border-box;
  text-decoration: none;
}



