@charset 'utf-8';

/*
* Color global settings
*/

//Highlight
$featuredColor: #1ce9bb;
$featuredColorHighlighted: #29806d;
$featuredColorSecondary: #ffffff;
$highlightColor: #3c92ca;

.featuredColor {
  color: $featuredColor;
}
.featuredColorHighlighted {
  color: $featuredColorHighlighted;
}
.featuredColorSecondary {
  color: $featuredColorSecondary;
}
.highlightColor {
  color: $highlightColor;
}

//Boxes
$mainBackgroundColor: #1a3148; //#132848; 
$mainBackgroundColorSecondary: #0b192d;
$mainBackgroundColorTertiary: #071222;

//Text
$inactiveTextColor: #868686;
$defaultTextColor: #071222;
$inverseTextColor: #333333;
$detailColorSoft: #bebebe;
$detailColorHeavy: #868686;

/*
* Font global settings
*/

$fontSizeTitle: 20px;
$fontSizePrimary: 15px;
$fontSizeSecondary: 13px;
$fontSizeTertiary: 11px;

$defaultFont: "Avenir";
$defaultFontBold: "Avenir Bold";
$defaultFontHeavy: "Avenir Heavy";

@font-face {
  font-family: "Avenir Roman";
  src: url("~/assets/fonts/AvenirLTStd-Roman.otf");
}

@font-face {
  font-family: "Avenir Bold";
  src: url("~/assets/fonts/AvenirLTStd-Black.otf");
}

@font-face {
  font-family: "Avenir";
  src: url("~/assets/fonts/AvenirLTStd-Book.otf");
}

@font-face {
  font-family: "Avenir Heavy";
  src: url("~/assets/fonts/AvenirLTStd-Heavy.otf");
}

@font-face {
  font-family: "Avenir Oblique";
  src: url("~/assets/fonts/AvenirLTStd-Oblique.otf");
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
